/*FONTS*/

@font-face {
    font-family: 'arimo';
    src: url('../fonts/template/arimo-bold-webfont.eot');
    src: url('../fonts/template/arimo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/template/arimo-bold-webfont.woff2') format('woff2'),
    url('../fonts/template/arimo-bold-webfont.woff') format('woff'),
    url('../fonts/template/arimo-bold-webfont.ttf') format('truetype'),
    url('../fonts/template/arimo-bold-webfont.svg#arimobold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'arimo';
    src: url('../fonts/template/arimo-italic-webfont.eot');
    src: url('../fonts/template/arimo-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/template/arimo-italic-webfont.woff2') format('woff2'),
    url('../fonts/template/arimo-italic-webfont.woff') format('woff'),
    url('../fonts/template/arimo-italic-webfont.ttf') format('truetype'),
    url('../fonts/template/arimo-italic-webfont.svg#arimoitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'arimo';
    src: url('../fonts/template/arimo-regular-webfont.eot');
    src: url('../fonts/template/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/template/arimo-regular-webfont.woff2') format('woff2'),
    url('../fonts/template/arimo-regular-webfont.woff') format('woff'),
    url('../fonts/template/arimo-regular-webfont.ttf') format('truetype'),
    url('../fonts/template/arimo-regular-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_slab';
    src: url('../fonts/template/robotoslab-bold-webfont.eot');
    src: url('../fonts/template/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/template/robotoslab-bold-webfont.woff2') format('woff2'),
    url('../fonts/template/robotoslab-bold-webfont.woff') format('woff'),
    url('../fonts/template/robotoslab-bold-webfont.ttf') format('truetype'),
    url('../fonts/template/robotoslab-bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_slab';
    src: url('../fonts/template/robotoslab-regular-webfont.eot');
    src: url('../fonts/template/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/template/robotoslab-regular-webfont.woff2') format('woff2'),
    url('../fonts/template/robotoslab-regular-webfont.woff') format('woff'),
    url('../fonts/template/robotoslab-regular-webfont.ttf') format('truetype'),
    url('../fonts/template/robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*NAVBAR*/

.navbar-default {
    background-color: #1A0E45;
    border-color: #8278AD;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #D6D2E9;
    background-color: #443776;
}

.navbar-default .navbar-nav > li > a {
    color: #D6D2E9;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #D6D2E9;
    background-color: #443776;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 32px;
    line-height: 20px;
}
/*temporary centered brand*/
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-header .navbar-brand {float:none;}

/*MAIN CONTENT*/
html, body {
    height: 100%;
    margin: 0pt;
}

body {
    background-color: #DDDDDD;
    font-family: 'Arimo', sans-serif;
    color: #000000;
}

.frame {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
    height: 1px;
    overflow: hidden;
}

html > body .table-row.expand {
    height: auto;
}
/*image circle*/
.image-circle {
    border-radius: 50%;
    border: 4px solid #FFF;
    margin: 0 20px 0 0;
}

/*profile photo*/
.profile-photo {
    background-image: url("../images/me-new.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top center;
    max-width: 300px;
    min-width: 150px;
    margin: 0 auto;
}

.profile-photo:hover {
    background-image: url("../images/me-thumbs-up.png");
}
/*INFOBOX*/
.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
}

.box-icon {
    background-color: #443776;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box .info{
    overflow: hidden;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.info  p {
    color: #07031A;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}

.info  a {
    background-color: #877DB3;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

.info > a:hover {
    background-color: #4C4080;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

/*FONTS HIERARCHY*/
/*HEADING*/
h1 {
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    color: #1A0E45;
}

/*SUBHEADING*/
h2 {
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    color: #1A0E45;
}

/*PARAGRAPH*/
p {
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
}

/*BYLINE*/
p small {
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
}

/*LINKS*/
a:link {
    color: #443776;
}

a:hover {
    color: #1A0E45;
}

a:visited {
    color: #8278AD;
}

a:active {
    color: #443776;
}

/*BLOG LEFT MENU*/
.lateral-menu-holder{
    height: 100%;

}
.lateral-menu{
    background-color:#443776;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
}
/*FOOTER*/
#footer {
    margin-top: 50px;
    background-color: #1A0E45;
    border-top: 1px solid #8278AD;
    width: 100%;
    clear: both;
    font-size: 14px;
}

#footer hr {
    border-top: 1px solid #443776;
}

#footer h2, #footer h1 {
    color: #D6D2E9;
}

#footer h2 {
    margin: 10px 0 20px 0;
}

#footer p, #footer small {
    color: #D6D2E9;
}

#footer p {
    font-size: 14px;
}

#footer hr {
    margin-bottom: 10px;
}

#footer ul {
    color: #8278AD;
    font-size: 14px;
    padding-left: 25px;
}

#footer .image-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 4px solid #FFF;
    margin: 0 20px 0 0;
    float: left;
}

.no-overflow {
    overflow: hidden; /*clear fix*/
}

/*BUTONS*/
a.btn {
    color: #FFFFFF;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #FFFFFF;
    text-decoration: none;
}

/*social buttons*/
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*
The above link can also go in HTML document as a link in head.
Rather than @import in an external CSS file,
The following code into the <head> section of your site's HTML.
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
*/

/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2014 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social.btn-lg {
    padding-left: 61px
}

.btn-social.btn-lg :first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em
}

.btn-social.btn-sm {
    padding-left: 38px
}

.btn-social.btn-sm :first-child {
    line-height: 28px;
    width: 28px;
    font-size: 1.4em
}

.btn-social.btn-xs {
    padding-left: 30px
}

.btn-social.btn-xs :first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1.2em
}

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0
}

.btn-social-icon :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social-icon.btn-lg {
    padding-left: 61px
}

.btn-social-icon.btn-lg :first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em
}

.btn-social-icon.btn-sm {
    padding-left: 38px
}

.btn-social-icon.btn-sm :first-child {
    line-height: 28px;
    width: 28px;
    font-size: 1.4em
}

.btn-social-icon.btn-xs {
    padding-left: 30px
}

.btn-social-icon.btn-xs :first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1.2em
}

.btn-social-icon :first-child {
    border: none;
    text-align: center;
    width: 100% !important
}

.btn-social-icon.btn-lg {
    height: 45px;
    width: 45px;
    padding-left: 0;
    padding-right: 0
}

.btn-social-icon.btn-sm {
    height: 30px;
    width: 30px;
    padding-left: 0;
    padding-right: 0
}

.btn-social-icon.btn-xs {
    height: 22px;
    width: 22px;
    padding-left: 0;
    padding-right: 0
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #30487b;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
    background-image: none
}

.btn-facebook.disabled, .btn-facebook[disabled], fieldset[disabled] .btn-facebook, .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled:active, .btn-facebook[disabled]:active, fieldset[disabled] .btn-facebook:active, .btn-facebook.disabled.active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook.active {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-github {
    color: #fff;
    background-color: #444;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
    color: #fff;
    background-color: #303030;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
    background-image: none
}

.btn-github.disabled, .btn-github[disabled], fieldset[disabled] .btn-github, .btn-github.disabled:hover, .btn-github[disabled]:hover, fieldset[disabled] .btn-github:hover, .btn-github.disabled:focus, .btn-github[disabled]:focus, fieldset[disabled] .btn-github:focus, .btn-github.disabled:active, .btn-github[disabled]:active, fieldset[disabled] .btn-github:active, .btn-github.disabled.active, .btn-github[disabled].active, fieldset[disabled] .btn-github.active {
    background-color: #444;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .open .dropdown-toggle.btn-linkedin {
    color: #fff;
    background-color: #005f8d;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:active, .btn-linkedin.active, .open .dropdown-toggle.btn-linkedin {
    background-image: none
}

.btn-linkedin.disabled, .btn-linkedin[disabled], fieldset[disabled] .btn-linkedin, .btn-linkedin.disabled:hover, .btn-linkedin[disabled]:hover, fieldset[disabled] .btn-linkedin:hover, .btn-linkedin.disabled:focus, .btn-linkedin[disabled]:focus, fieldset[disabled] .btn-linkedin:focus, .btn-linkedin.disabled:active, .btn-linkedin[disabled]:active, fieldset[disabled] .btn-linkedin:active, .btn-linkedin.disabled.active, .btn-linkedin[disabled].active, fieldset[disabled] .btn-linkedin.active {
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-stack-overflow {
    color: #fff;
    background-color: #b65e17;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-stack-overflow:hover, .btn-stack-overflow:focus, .btn-stack-overflow:active, .btn-stack-overflow.active, .open .dropdown-toggle.btn-stack-overflow {
    color: #fff;
    background-color: #994d15;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-stack-overflow:active, .btn-stack-overflow.active, .open .dropdown-toggle.btn-stack-overflow {
    background-image: none
}

.btn-stack-overflow.disabled, .btn-stack-overflow[disabled], fieldset[disabled] .btn-stack-overflow, .btn-stack-overflow.disabled:hover, .btn-stack-overflow[disabled]:hover, fieldset[disabled] .btn-stack-overflow:hover, .btn-stack-overflow.disabled:focus, .btn-stack-overflow[disabled]:focus, fieldset[disabled] .btn-stack-overflow:focus, .btn-stack-overflow.disabled:active, .btn-stack-overflow[disabled]:active, fieldset[disabled] .btn-stack-overflow:active, .btn-stack-overflow.disabled.active, .btn-stack-overflow[disabled].active, fieldset[disabled] .btn-stack-overflow.active {
    background-color: #b65e17;
    border-color: rgba(0, 0, 0, 0.2)
}

