<div id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <hr class="small-only"/>
        <div class="col-xs-12">
          <h3 class="text-center">Find me on</h3>
          <div class="social-icons-container">
            <a class="social-icon linkedin" href="https://www.linkedin.com/pub/layon-ferreira/79/898/b35" target="_blank" ><i class="fa fa-linkedin"></i></a>
            <a class="social-icon github" href="https://github.com/layonferreira" target="_blank" ><i class="fa fa-github"></i></a>
            <a class="social-icon stackoverflow" href="http://stackoverflow.com/users/2784833/layon-ferreira" target="_blank" ><i class="fa fa-stack-overflow"></i></a>
          </div>
        </div>
        <p class="text-center copyright-text">Copyright © Layon Ferreira </p>
      </div>
    </div>
  </div>
</div>
