<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <!--CSS FILES-->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/main.css">
  <!--JAVASCRIPT FILES-->
  <!--jquery-->
  <script type="text/javascript" src="/js/plugins/jquery/jquery-2.1.1.js"></script>
  <!--bootstrap-->
  <script type="text/javascript" async="" src="/js/plugins/bootstrap/bootstrap.js"></script>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="template-skin-0 frame">
  <!--NAVBAR-->
  {% include navbar.html %}
  <!--END NAVBAR-->

  <!--CONTENT-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="info">
          <h1 class="text-center">About me</h1>
          <div class="image-circle profile-photo"></div>
          <h2>Who am I</h2>
        </div>
      </div>
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <p class="description-text">

          Hi,,<br/>
          My name is Layon Ferreira, I'm from Brazil but I have lived most of my life in Portugal.
          I'm Living in London since January 2015, and I Intend to live here for a few more years.
          I'm a Full Stack Web developer, specialized on Ruby on Rails.<br/>
          Although I have learned the base of programming in a course with a really long name <small><em>"Information Systems Management and Programming Technician, Computer Programming"</em></small>,
          most of my knowledge comes from self-learning and curiosity.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-5 col-md-offset-1  col-lg-4 col-lg-offset-2">
        <div class="info" style="min-height:151px">

          <h2>What do I do</h2>

          <p class="description-text">
            I have worked with several technologies such as <strong>Java, PHP, Joomla, JavaScript,</strong> and others. <br/>
            Currently, I am more focused on technologies involving the developing in <strong>Ruby on Rails</strong>.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 col-lg-4">
        <div class="info">
          <h2>Why I do it</h2>

          <p class="description-text">
            I have found that creating an application that solves problems and automatizes boring and repetitive tasks, provide  me great pleasure,
            I think I just love the idea that of a person being able to automatize an entire process, using logic and creativity as building blocks.

          </p>
        </div>
      </div>
    </div>

  </div>
  {% include footer.html %}
  {% include analytics.html %}
</body>
</html>
