<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <!--CSS FILES-->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/main.css">
  <!--JAVASCRIPT FILES-->
  <!--jquery-->
  <script type="text/javascript" src="/js/plugins/jquery/jquery-2.1.1.js"></script>
  <!--bootstrap-->
  <script type="text/javascript" async="" src="/js/plugins/bootstrap/bootstrap.js"></script>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="template-skin-0 frame">
  <!--NAVBAR-->
  {% include navbar.html %}
  <!--END NAVBAR-->

  <!--CONTENT-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
  {% include analytics.html %}
</body>
</html>
